@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body{
  background: radial-gradient(circle, #bbb7b7 0%, #888488 100%);
  overflow: hidden;
}  

/* 404 */
.error-container {
  text-align: center;
  font-size: 106px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}

.error-container > span {
    display: inline-block;
    position: relative;
}

.error-container > span.four {
    width: 136px;
    height: 43px;
    border-radius: 999px;
    background:
      linear-gradient(140deg, rgba(19, 17, 17, 0.1) 0%, rgba(87, 81, 81, 0.07) 43%, transparent 44%, transparent 100%),
      linear-gradient(105deg, transparent 0%, transparent 40%, rgba(61, 61, 61, 0.06) 41%, rgba(110, 110, 110, 0.07) 76%, transparent 77%, transparent 100%),
      linear-gradient(to right, #383838, #acacac);
  }
  .error-container > span.four:before,
  .error-container > span.four:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 999px;
  }
  .error-container > span.four:before {
    width: 43px;
    height: 156px;
    left: 60px;
    bottom: -43px;
    background:
      linear-gradient(128deg, rgba(80, 80, 80, 0.1) 0%, rgba(92, 89, 89, 0.07) 40%, transparent 41%, transparent 100%),
      linear-gradient(116deg, rgba(61, 61, 61, 0.1) 0%, rgba(78, 76, 76, 0.07) 50%, transparent 51%, transparent 100%),
      linear-gradient(to top, #605e61, #8b8689, #a8a1a3, #c5bbbb, #f8eeee);
  }
  .error-container > span.four:after {
    width: 137px;
    height: 43px;
    transform: rotate(-49.5deg);
    left: -18px;
    bottom: 36px;
    background: linear-gradient(to right,#59565a, #8f8a8d, #beb8ba, #cec7c7, #f8efef);
  }
  
  .error-container > span.zero {
    vertical-align: text-top;
    width: 156px;
    height: 156px;
    border-radius: 999px;
    background: linear-gradient(-45deg, transparent 0%, rgba(73, 72, 72, 0.06) 50%,  transparent 51%, transparent 100%),
    linear-gradient(to top right, #59565a, #8f8a8d, #beb8ba, #cec7c7, #f8efef);
    overflow: hidden;
    animation: bgshadow 5s infinite;
  }
  .error-container > span.zero:before {
    content: '';
    display: block;
    position: absolute;
    transform: rotate(45deg);
    width: 90px;
    height: 90px;
    background-color: transparent;
    left: 0px;
    bottom: 0px;
    background:
      linear-gradient(95deg, transparent 0%, transparent 8%, rgba(44, 44, 44, 0.07) 9%, transparent 50%, transparent 100%),
      linear-gradient(85deg, transparent 0%, transparent 19%, rgba(22, 20, 20, 0.05) 20%, rgba(27, 26, 26, 0.07) 91%, transparent 92%, transparent 100%);
  }
  .error-container > span.zero:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 999px;
    width: 70px;
    height: 70px;
    left: 43px;
    bottom: 43px;
    background: #bbb7b7;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
    
@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(82, 81, 81, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(114, 111, 111, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(131, 125, 125, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(161, 154, 154, 0.4);
  }
}

/* Texto */
.text{
text-align: center;
font-size:1em ;
color: #ffffff;
font-family: 'Fira Mono', monospace;
}


.company{
    color:white ;
    font-size: 3em;
    font-weight:bolder;
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    letter-spacing: 10px;
    font-family:'Krona One', sans-serif;
    -webkit-text-stroke: 2px solid black;
}
.company::first-letter{
    -webkit-text-stroke: 1px white;
    color: black;
}


a{
    color:#0e0709;
    text-decoration: none;
    font-weight: 800;
}
